.inline-block{
    height: 20px;
}
@font-face {
    font-family: Eastwood;
    src: url("Eastwood_ttf.ttf");
}
.body{
    background-image: url("images/homepage_background.png");
}
.white-text{
    color:white;
    padding: 25px;
    font-family: "Eastwood", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.logo{
    width: 15px;
    padding: 1%;
    background: black;
}
.navigation{
    display: flex;
    background: black;
    align-items: center;
    justify-content:space-evenly;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    /* padding: 50px 300px; */
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    color: white;
}

.footer{
    background-color: black;
}

.main{
    display: flex;
    flex-direction:column;
    border-style: solid black;
}

.row{
    display:flex;
    flex-direction: row; 
    text-align: center;
}

.button{
    background-color: rgb(215, 157, 11);
    color: white;
    text-decoration: none;
    height: 42px;
    width: 175px;
    border-radius: 20px;
    font-family: "Eastwood", serif; 
}
.footer-row{
    justify-content: left;
    background-color: black;
    padding: 10px 50px; 
}
.footer-text{
    color: white;
    font-family: "Prata";
}
.contact-text{
    color: white;
    font-family: "Eastwood", serif;
    font-size: 30px;
}
:any-link{
    color: white;
}
.Name{
    font-family: "Eastwood", serif;
    color: white;
    Font-size: 100px;
    position: absolute;
    bottom: 30px;
    left: 250px;
}
.heroImg{
    padding: 80px 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.skills{
    font-family: "prata", serif;
    font-size: 20px;
    color: white;
    grid-column: 4/4;

}
.sheis{
    font-family: "prata", serif;
    font-size: 20px;
    color: white;
    text-align: center;
    grid-column: 4/4;
    padding: 0px 20px;
}
.UXUI{
    /* padding: 0px 0px 0px; */
    Font-size: 40px;
    Font-family: "Eastwood", serif;
}
.linkedin{
    grid-column: 1/4;
    padding: 0px 0px 30px 0px;
}
.ER-Quote{
    font-size: 30px;
    padding: 0px 0px 30px 0px;
}

.ER{
    font-size: 35px;
    color: white;
}
.MyWorkBackground{
    background-image: url("images/mywork_background.jpg");
    height: 900px;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Eastwood", serif;
    display:flex;
    flex-direction: row; 
    justify-content:space-evenly;
}
.ArtPulse{
    font-size: 18px;
    text-align: center;
    padding: 275px 0px;
}
.CWFRedesign{
    font-size: 22px;
    text-align: center;
    padding: 100px;
}

.EscapeRoute{
    font-size: 30px;
    text-align: center;
    padding: 250px 0px;
}
.About{
    text-align: center;
    color: white;
    font-size: 30px;
    width: 900px;
    padding: 50px 400px;;
}


  





